@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Montserrat:wght@400;700&family=Ruda&family=Ubuntu&display=swap');
/*
font-family: 'Carrois Gothic SC', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Ruda', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
    height:100vh;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem #817EFE, 0 0 0 0.25rem #817EFE;
}
.form-control {
    box-shadow: 0 0 0 0.1rem #E5E5E5, 0 0 0 0.25rem #E5E5E5;
    border:none;
}

html {
  height: 100%;
  overflow:hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
    background: #fff;
    overflow: visible;
    height: 100%;
}

/*Login and Signup Form Start*/
.login-logout-card .card-header {
    padding: 0px 0px 12px 0px;
    
}

.login-logout-card ul.nav-tabs {
    margin: 0px 0px -12px 0px;

}

.login-logout-card li.nav-item {
    width: 50%;

}

.login-logout-card a.nav-link {
    font-size: 1rem;
    color: #495057;
    text-align: center;
    padding: 1rem;  

}
.login-logout-card a.nav-link:active{

}
.login-logout-card .card-body {
    padding: 10px 20px;
    background:transparent;
}
.primary {
    background-color: #6610f2;
    background: #6610f2;
    color: #fff;
    height: 70px;
    font-size: 1.1rem;
    text-transform: uppercase;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
    .primary:hover {
        background-color: #3B325C;
        background: #290661;
        color: #fff;
    }

.card{
    background:transparent;
    margin-top: 5vh;
    border:none;
    height:auto;

}
/*Login and Signup Form End*/
